<div class="container-fluid">
    <a [routerLink]="['/home']"><button class="btn btn-secondary">back to home</button></a>
    <div class="row">
        <h1>
            <span>A</span>
            <span>N</span>
            <span>G</span>
            <span>U</span>
            <span>L</span>
            <span>A</span>
            <span>R</span>

        </h1>
    </div>
    <div class="container">
      <div class="row">
    <a><i class="fab fa-angular"></i></a>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Angular setup</h5>
                    <hr>
                    <div class="card-body">
                        <ul>
                            <li>Install Visual Studio Code</li>
                            <li>Install Node.js</li>
                            <li>Use npm to install Angular CLI</li>
                            <li>npm install -g @angular/cli  </li>
                            <li>ng new my-dream-app</li>
                            <li>cd my-dream-app</li>
                            <li>ng serve </li>
                            
                        </ul>
                        <hr>
                      <p class="card-text">Your Angular 8 Environment setup is complete now</p>
                    
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Angular Commends</h5>
                    <hr>
                    <div class="card-body">
                        <ul>
                                <li>npm version checking- npm -v</li>
                                <li>node version checking- node -v</li>
                            <li>Angular version checking- ng --version</li>
                            <li>ng g component your-component</li>
                            <li>ng g module your-module</li>
                            <li>ng g service your-service</li>
                            <li>npm i bootstrap@3 jquery --save</li>
                        </ul>
                        <hr>
                      <p class="card-text">some additional commends</p>
                     
                    </div>
                  </div>
            </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">

            </div>
          </div>
        </div>
    </div>

<!--footer-->
<div class="container-fluid">
    <div class="row">
      <div class="footer-main-div">
        <div class="footer-social-icons">
          <ul>
          <li><a href="https://twitter.com/Ashok82652056" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/__ashokvirat__/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/bejo.carter" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://github.com/ashok-virat" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
          <p>aruashok17@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
