<div class="container-fluid">
        <a [routerLink]="['/home']"><button class="btn btn-secondary">back to home</button></a>
        <div class="row">
            <h1>
                <span>N</span>
                <span>O</span>
                <span>D</span>
                <span>E</span>
                <span>J</span>
                <span>S</span>
            </h1>
        </div>
        <div class="container">
          <div class="row">
              <a><i class="fab fa-node-js"></i></a>
          </div>
        </div>
       
        <div class="container">
            <div class="row">
              <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="card">
                        <h5 class="card-header">Node setup</h5>
                        <hr>
                        <div class="card-body">
                            <ul>
                                <li>Downloading the Node.js ‘.msi’ installer.</li>
                                <li> Running the Node.js installer.</li>
                                <li> Verify that Node.js was properly installed or not.</li>
                                <li>Updating the Local npm version. </li>
                                
                            </ul>
                            <hr>
                          <p class="card-text">Your Nodejs Environment setup is complete now</p>
                        
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                   
                </div>
            </div>
        </div>
    </div>
   
    <!--footer-->
    <div class="container-fluid">
        <div class="row">
          <div class="footer-main-div">
            <div class="footer-social-icons">
              <ul>
              <li><a href="https://twitter.com/Ashok82652056" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/__ashokvirat__/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/bejo.carter" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://github.com/ashok-virat" target="_blank"><i class="fab fa-github"></i></a></li>
              </ul>
              <p>aruashok17@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    