<div class="container-fluid">
    <div class="row">
      
  <div class="header">
      <img src="../assets/logo.jpg">
    <h2 class="text">Welcome to developer world</h2>
    <p>Meanstack development</p>

    <div id="navbar">
        <a class="active">Home</a>
        <a [routerLink]="['/angular']">Angular</a>
        <a [routerLink]="['/expressjs']">Nodejs</a>
      </div>
  </div>
  
  
  </div>
    
  </div>
  <!--basic-->
  <hr>
 <div class="container" id="ashok">
   
  <div class="row">
      <div class="col-md-12" id="whmean">
        <h4 style="color:black;text-shadow:0px 0px 3px;">Meanstack development</h4>
        <h6>what is meanstack development?</h6>
        <p>A MEAN stack developer is someone who is has knowledge in some particular areas alone. MEAN stack development refers to development process that falls within these particular set of technologies Mongodb, Expressjs, AngularJs, NodeJS. In simple words MEAN stack developers are like JS based application developers.</p>
        <h6>What is mean stack architecture?</h6>
        <p>MEAN is a free and open-source JavaScript software stack for building dynamic websites and web applications or we can say that MEAN stack is a collection of JavaScript-based technologies used to develop web applications. MEAN is an acronym for MongoDB, ExpressJS, AngularJS, and Node.js. ... N = Node.js, the crowning glory.</p>
        <h6>Why we use mean stack?</h6>
        <p>It is easy to develop web applications using Node.js because it provides a good variety of JavaScript modules from its humongous library. Mean stack allows the developers to write code in only one language which is JavaScript for both client and server side which makes it a simple and fast language.</p>
      </div>
    </div>
 </div>
 <hr>
  <!--MEAN-->  
  <div class="container" id="means">
      <div class="row">
        <h4 style="color:black;text-shadow:0px 0px 5px;border-bottom:2px solid black;">MEAN IS</h4>
       <div class="col-md-8">
         <h1>MongoDB</h1>
         <p>MongoDB Inc. § History
            10gen software company began developing MongoDB in 2007 as a component of a planned platform as a service product. In 2009, the company shifted to an open source development model, with the company offering commercial support and other services. In 2013, 10gen changed its name to MongoDB Inc.
            MongoDB has been dropped from the Debian, Fedora and Red Hat Enterprise Linux distributions due to the licensing change. Fedora determined that the SSPL version 1 is not a free software license because it is "intentionally crafted to be aggressively discriminatory" towards commercial users.</p>
         <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary as" data-toggle="modal" data-target="#mongodb">
        know more
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="mongodb" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">MongoDB</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                As of October 2018, MongoDB is released under the Server Side Public License (SSPL), a license developed by the project. It replaces the GNU Affero General Public License, and is nearly identical to the GNU General Public License version 3, but requires that those making the software publicly available as part of a "service" must make the service's entire source code available under this license. The SSPL was submitted for certification to the Open Source Initiative but later withdrawn. The language drivers are available under an Apache License. In addition, MongoDB Inc. offers proprietary licenses for MongoDB. The last versions licensed as AGPL version 3 are 4.0.3 (stable) and 4.1.4.
    
                MongoDB has been dropped from the Debian, Fedora and Red Hat Enterprise Linux distributions due to the licensing change. Fedora determined that the SSPL version 1 is not a free software license because it is "intentionally crafted to be aggressively discriminatory" towards commercial users.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             
            </div>
          </div>
        </div>
      </div>
       </div>
       <div class="col-md-4">
         <img src="../assets/mongo1.jfif">
       </div>
        </div>
        <div class="row">
            <div class="col-md-8">
              <h1>expressjs</h1>
              <p>Express.js, or simply Express, is a web application framework for Node.js, released as free and open-source software under the MIT License. It is designed for building web applications and APIs. It has been called the de facto standard server framework for Node.js.
  
                  The original author, TJ Holowaychuk, described it as a Sinatra-inspired server[citation needed], meaning that it is relatively minimal with many features available as plugins. Express is the backend component of the MEAN stack, together with the MongoDB database software and AngularJS frontend framework.</p>
              <!-- Button trigger modal -->
         <button type="button" class="btn btn-secondary as" data-toggle="modal" data-target="#expressjs">
             know more
           </button>
           
           <!-- Modal -->
           <div class="modal fade" id="expressjs" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-scrollable" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalScrollableTitle">expressjs</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                    Express.js was founded by TJ Holowaychuk. The first release, according to Express.js's GitHub repository, was on the 22nd of May, 2010. Version 0.12.0.
  
                    In June 2014, rights to manage the project were acquired by StrongLoop. StrongLoop was acquired by IBM in September 2015; in January 2016, IBM announced that it would place Express.js under the stewardship of the Node.js Foundation incubator.
                    You can then use a database like MongoDB with Mongoose (for modeling) to provide a backend for your Node.js application. Express.js basically helps you manage everything, from routes, to handling requests and views. Redis is a key/value store -- commonly used for sessions and caching in Node.js applications.
  
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  
                 </div>
               </div>
             </div>
           </div>
            </div>
            <div class="col-md-4">
              <img src="../assets/express.png">
            </div>
             </div>
             <div class="row">
                <div class="col-md-8">
                  <h1>Angular</h1>
                  <p>Angular (commonly referred to as "Angular 2+" or "Angular v2 and above") is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.  AngularJS is the frontend part of the MEAN stack, consisting of MongoDB database, Express.js web application server framework, Angular.js itself, and Node.js server runtime environment.</p>
                  <!-- Button trigger modal -->
             <button type="button" class="btn btn-secondary as" data-toggle="modal" data-target="#angular">
                 know more
               </button>
               
               <!-- Modal -->
               <div class="modal fade" id="angular" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                 <div class="modal-dialog modal-dialog-scrollable" role="document">
                   <div class="modal-content">
                     <div class="modal-header">
                       <h5 class="modal-title" id="exampleModalScrollableTitle">Angular</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                       </button>
                     </div>
                     <div class="modal-body">
                        Angular is a JavaScript-based open-source front-end web framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications. It aims to simplify both the development and the testing of such applications by providing a framework for client-side model–view–controller (MVC) and model–view–viewmodel (MVVM) architectures, along with components commonly used in rich Internet applications. (This flexibility has led to the acronym MVW, which stands for "model-view-whatever" and may also encompass model–view–presenter and model–view–adapter.) In 2014, the original AngularJS team began working on the Angular web framework.
  
                        The AngularJS framework works by first reading the Hypertext Markup Language (HTML) page, which has additional custom HTML attributes embedded into it. Angular interprets those attributes as directives to bind input or output parts of the page to a model that is represented by standard JavaScript variables. The values of those JavaScript variables can be manually set within the code, or retrieved from static or dynamic JSON resources.
                        
                        According to JavaScript analytics service Libscore, AngularJS is used on the websites of Wolfram Alpha, NBC, Walgreens, Intel, Sprint, ABC News, and about 12,000 other sites out of 1 million tested in October 2016.AngularJS is currently in the top 100 of the most starred projects on GitHub.
                        
                        AngularJS is the frontend part of the MEAN stack, consisting of MongoDB database, Express.js web application server framework, Angular.js itself, and Node.js server runtime environment.
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                     </div>
                   </div>
                 </div>
               </div>
                </div>
                <div class="col-md-4">
                  <img src="../assets/angular.png">
                </div>
                 </div>
                 <div class="row">
                    <div class="col-md-8">
                      <h1>Nodejs</h1>
                      <p>Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code outside of a browser. Node.js lets developers use JavaScript to write command line tools and for server-side scripting—running scripts server-side to produce dynamic web page content before the page is sent to the user's web browser. Consequently, Node.js represents a "JavaScript everywhere" paradigm, unifying web application development around a single programming language, rather than different languages for server- and client-side scripts.</p>
                      <!-- Button trigger modal -->
                 <button type="button" class="btn btn-secondary as" data-toggle="modal" data-target="#node">
                     know more
                   </button>
                   
                   <!-- Modal -->
                   <div class="modal fade" id="node" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                     <div class="modal-dialog modal-dialog-scrollable" role="document">
                       <div class="modal-content">
                         <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalScrollableTitle">Nodejs</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                           </button>
                         </div>
                         <div class="modal-body">
                            Node.js was written initially by Ryan Dahl in 2009, about thirteen years after the introduction of the first server-side JavaScript environment, Netscape's LiveWire Pro Web. The initial release supported only Linux and Mac OS X. Its development and maintenance was led by Dahl and later sponsored by Joyent.
  
  Dahl criticized the limited possibilities of the most popular web server in 2009, Apache HTTP Server, to handle a lot of concurrent connections (up to 10,000 and more) and the most common way of creating code (sequential programming), when code either blocked the entire process or implied multiple execution stacks in the case of simultaneous connections.
  
  Dahl demonstrated the project at the inaugural European JSConf on November 8, 2009. Node.js combined Google's V8 JavaScript engine, an event loop, and a low-level I/O API.
  
  In January 2010, a package manager was introduced for the Node.js environment called npm. The package manager makes it easier for programmers to publish and share source code of Node.js libraries and is designed to simplify installation, updating, and uninstallation of libraries.
  
  In June 2011, Microsoft and Joyent implemented a native Windows version of Node.js. The first Node.js build supporting Windows was released in July 2011.
  
  In January 2012, Dahl stepped aside, promoting coworker and npm creator Isaac Schlueter to manage the project. In January 2014, Schlueter announced that Timothy J. Fontaine would lead the project.
  
  
                         </div>
                         <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          
                         </div>
                       </div>
                     </div>
                   </div>
                    </div>
                    <div class="col-md-4">
                      <img src="../assets/nodejs2.jfif">
                    </div>
                     </div>
    </div>
  
  
  
  <!--footer-->
    <div class="container-fluid">
      <div class="row">
        <div class="footer-main-div">
          <div class="footer-social-icons">
            <ul>
            <li><a href="https://twitter.com/Ashok82652056" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/__ashokvirat__/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/bejo.carter" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://github.com/ashok-virat" target="_blank"><i class="fab fa-github"></i></a></li>
            </ul>
            <p>aruashok17@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  <router-outlet></router-outlet>